node_modules/

/target/release/
dist/
build/
coverage/
.cache/

*.js
*.ptn.js
*.log
*.pid
*.tmp
*.temp

.env
.env.*
!.env.example

.DS_Store
Thumbs.db

.vscode/*
!.vscode/launch.json
!.vscode/tasks.json
!.vscode/extensions.json
.idea/
